---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | markdownify }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <!-- share -->
  {% include share_twitter.html %}
  <!-- Post comments -->
  <div class="post-comments">
    {% if site.disqus_shortname %}
      {% include comments_disqus.html %}
    {% endif %}
  </div>

  <footer class="post-footer">
    <p>
    {% assign tags = page.tags | sort %}
    {% for tag in tags %}
          <!-- <span class="post-tag">{{tag}}, </span> -->
          {% include tag-list.html %}
    {% endfor %}
    </p>
  </footer>
</div>
